# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
.vscode/
*.iml

# iOS & Android
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/

# System
.DS_Store
*.log
*.lock
